@use '../../styles/mixin' as *;

.container
{
    @include container-style;
    display: flex;
    flex-direction: column;

    .title
    {
        @include card-title-base;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    &__number
    {
        @include big-number;
    }

    &__index
    {
        font-size: var(--font-size-base);
        color: #fff;
    }

    .graphic
    {
        @include graphic;
        margin-top: auto;

        &__dot
        {
            @include graphic-dot;
        }
    }
}
