.container
{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    border-radius: 20px;
    padding: 1.5rem;

    .title
    {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--secondary-color);

        & svg
        {
            width: 2.4rem;
            height: 2.4rem;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                width: 2.2rem;
                height: 2.2rem;
            }

            @media (width <= 400px)
            {
                width: 2rem;
                height: 2rem;
            }
        }

        &__text
        {
            font-size: 2.4rem;
            text-transform: uppercase;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                font-size: 2rem;
            }

            @media (width <= 400px)
            {
                font-size: 1.8rem;
            }
        }
    }

    &__number
    {
        font-size: 5rem;
        margin-top: 1rem;
        color: #fff;

        @media (width <= 465px)
        {
            font-size: 4rem;
        }

        @media (width <= 400px)
        {
            font-size: 3.4rem;
        }
    }

    &__index
    {
        font-size: 2.4rem;
        color: #fff;

        @media (width <= 465px)
        {
            font-size: 2rem;
        }

        @media (width <= 400px)
        {
            font-size: 1.8rem;
        }
    }
}