@use '../../styles/mixin' as *;

.container
{
    @include container-style;
    display: flex;
    flex-direction: column;

    .title
    {
        @include card-title-base;

        & > svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    .visibilityNumber
    {
        @include big-number;

        & > span
        {
            font-size: var(--font-size-base);
        }
    }

    .visibilityLabel
    {
        margin-top: .35rem;
        font-size: var(--font-size-base);
        color: #fff;
        margin-top: auto;
    }
}
