.container
{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    border-radius: 20px;
    padding: 1.5rem;

    .title
    {
        display: flex;
        align-items: center;
        gap: 1rem;

        & svg
        {
            width: 2.4rem;
            height: 2.4rem;
            color: var(--secondary-color);

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                width: 2.2rem;
                height: 2.2rem;
            }

            @media (width <= 400px)
            {
                width: 2rem;
                height: 2rem;
            }
        }

        &__text
        {
            font-size: 2.4rem;
            color: var(--secondary-color);
            text-transform: uppercase;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                font-size: 2rem;
            }

            @media (width <= 400px)
            {
                font-size: 1.8rem;
            }
        }
    }

    &__humidity
    {
        margin-top: 1rem;
        width: 100%;

        &--number
        {
            font-size: 5rem;
            color: white;

            @media (width <= 465px)
            {
                font-size: 4rem;
            }

            @media (width <= 400px)
            {
                font-size: 3.4rem;
            }
        }
    }

}