@use '../../styles/mixin' as *;

.container
{
    @include container-style;

    .title
    {
        @include card-title-base;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    &__number
    {
        @include big-number;

        & > span
        {
            font-size: var(--font-size-base);
        }
    }
}

