.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    padding: .5rem;
    border-radius: 25px;
    position: relative;

    .title
    {
        display: flex;
        align-items: center;
        align-self: start;
        gap: .5rem;
        color: var(--secondary-color);
        margin-top: 1rem;
        margin-left: 1rem;

        & svg
        {
            width: 2.4rem;
            height: 2.4rem;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                width: 2.2rem;
                height: 2.2rem;
            }

            @media (width <= 400px)
            {
                width: 2rem;
                height: 2rem;
            }
        }

        &__text
        {
            font-size: 2.4rem;
            text-transform: uppercase;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                font-size: 2rem;
            }

            @media (width <= 400px)
            {
                font-size: 1.8rem;
            }
        }
    }

    .week-temperature
    {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: auto;
        

        &__day
        {
            display: flex;
            align-items: center;
            position: relative;

            &:nth-child(2)
            {
                &::after
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 2rem);
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.25);
                }

                &::before
                {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 2rem);
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.25);
                }
            }
            
    
            & > img
            {
                width: 5.6rem;
                height: 5.6rem;
    
                @media (width <= 980px)
                {
                    width: 5rem;
                    height: 5rem;
                }

                @media (width <= 465px)
                {
                    width: 4.5rem;
                    height: 4.5rem;
                }

                @media (width <= 400px)
                {
                    width: 4rem;
                    height: 4rem;
                }
            }

            & .day
            {
                font-size: 2.2rem;
                color: #fff;
                min-width: 7.5rem;
                margin-left: 1rem;
    
                @media (width <= 540px)
                {
                    font-size: 2rem;
                    min-width: 6.8rem;
                }

                @media (width <= 460px)
                {
                    font-size: 1.8rem;
                    min-width: 6.6rem;
                }
            }
    
            .graphic
            {
                height: 6px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.25);
                margin: 0 2rem;
                border-radius: 4px;
                position: relative;

                @media (width <= 470px)
                {
                    margin: 0 1rem;
                } 
                
                @media (width <= 390px)
                {
                    margin: 0 .5rem;
                }   
    
                &__line
                {
                    position: absolute;
                    top: 0;
                    left: var(--start, 0%);
                    height: 6px;
                    width: var(--len, 0%);
                    background: linear-gradient(to right, var(--c1, hsl(270,100%,50%)), var(--c2, hsl(0,100%,30%)));
                    border-radius: 4px;
    
                    @media (width <= 980px)
                    {
                        height: 8px;
                    }
    
                    @media (width <= 640px)
                    {
                        height: 6px;
                    }
                }
            }
    
            & > .degree
            {
                min-width: 6rem;
                font-size: 2.4rem;
                color: white;
                font-weight: bold;
                text-align: center;

                &:last-child
                {
                    margin-right: 1rem
                }
    
                @media (width <= 540px)
                {
                    font-size: 2rem;
                    min-width: 6rem;
                }

                @media (width <= 460px)
                {
                    font-size: 1.8rem;
                    min-width: 6rem;
                }
            }
        }
    }

}

.selected
{
    outline: 2px solid #fff;
    border-radius: 22px;
}