@use '../../styles/mixin' as *;

.container
{
    @include container-style(1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title
    {
        @include card-title-base;
        align-self: start;
        margin-top: 1rem;
        margin-left: 1rem;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    .week-temperature
    {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: auto;
        

        &__day
        {
            display: flex;
            align-items: center;
            position: relative;
            padding: .1rem;
    
            & > img
            {
                width: var(--image-size);
                height: var(--image-size);
            }

            & .day
            {
                font-size: var(--font-size-base);
                color: #fff;
                min-width: 7.5rem;
                margin-left: 1rem;

                @media (width <= 460px)
                {
                    min-width: 6.6rem;
                }
            }
    
            .graphic
            {
                height: 6px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.25);
                margin: 0 2rem;
                border-radius: 4px;
                position: relative;

                @media (width <= 470px)
                {
                    margin: 0 1rem;
                } 
                
                @media (width <= 390px)
                {
                    margin: 0 .5rem;
                }   
    
                &__line
                {
                    position: absolute;
                    top: 0;
                    left: var(--start, 0%);
                    height: 6px;
                    width: var(--len, 0%);
                    background: linear-gradient(to right, var(--c1, hsl(270,100%,50%)), var(--c2, hsl(0,100%,30%)));
                    border-radius: 4px;
    
                    @media (width <= 980px)
                    {
                        height: 8px;
                    }
    
                    @media (width <= 640px)
                    {
                        height: 6px;
                    }
                }
            }
    
            & > .degree
            {
                min-width: 6rem;
                font-size: var(--font-size-base);
                color: white;
                font-weight: bold;
                text-align: center;

                &:last-child
                {
                    margin-right: 1rem
                }
    
                @media (width <= 540px)
                {
                    min-width: 6rem;
                }
            }
        }
    }
}

.selected
{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    transition: all .15s ease-in-out;
}
