.week-temperature
{
    display: flex;
    flex-direction: column;
    background-color: rgba(78, 78, 78, 0.3);
    padding: .5rem;
    border-radius: 25px;

    &__day
    {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);

        &:last-of-type
        {
            border-bottom: none;
        }

        & > img
        {
            width: 6rem;
            height: 6rem;
        }

        & > .day
        {
            font-size: 2.2rem;
            color: rgb(211, 211, 211);
            width: 7rem;
        }

        & > .degree
        {
            font-size: 2.4rem;
            color: white;
            font-weight: bold;
            margin-left: 1rem;

            &:last-of-type
            {
                margin-left: auto;
            }
        }
    }
}