@use '../../styles/mixin' as *;

.container
{
    @include container-style;

    .title
    {
        @include card-title-base;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    &__number
    {
        @include big-number;
    }

    &__label
    {
        font-size: var(--font-size-base);
        color: #fff;
    }

    .graphic
    {
        @include graphic;
        margin-top: 2rem;

        &__dot
        {
            @include graphic-dot;
        }
    }
}

