.menu-button
{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2rem;
    left: 2%;
    z-index: 9999;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border-radius: 50%;
    background-color: rgba(9, 9, 9, 0.372);

    & > svg
    {
        height: 70%;
        width: 70%;
        color: #fff;
    }
}

.container
{
    height: calc(100dvh - 3rem);
    width: 40rem;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: calc(-100% - 3rem);
    background-color: #1e23499e;
    backdrop-filter: blur(10px);
    transition: all 0.25s ease-in-out;
    padding: 1.25rem;
    padding-top: 7rem;
    margin: 1.5rem;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);

    @media (width <= 500px)
    {
        width: 100%;
        height: 100dvh;
        margin: 0rem;
        padding-top: 8.5rem;
        border-radius: 0;
        background-color: var(--primary-color);
        box-shadow: none;
    }
}

.open
{
    left: 0;
}

.button-open
{
    left: 36rem;

    @media (width <= 500px)
    {
        left: calc(100% - 6.5rem);
    }
}