@mixin container-style($padding: 1.5rem) {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 22px;
    padding: $padding;
}

@mixin card-title-base {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--secondary-color);
}

@mixin card-title-icon {
    width: var(--title-font);
    height: var(--title-font);
}

@mixin card-title-text($less-font-size: 0rem) {
    font-size: calc(var(--title-font) - #{$less-font-size});
    text-transform: uppercase;
}

@mixin big-number {
    font-size: var(--font-size-2);
    margin-top: 1rem;
    color: #fff;
}

@mixin graphic {
    width: 100%;
    height: 1rem;
    background: linear-gradient(
        90deg,
        #3cb850 0%,
        #8bc34a 20%,
        #fdd835 40%,
        #fb8c00 60%,
        #e53935 80%,
        #8e24aa 100%
    );
    border-radius: 10px;
    position: relative;
}

@mixin graphic-dot {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s ease;
}
