@use "../../styles/mixin" as *;

.container {
    @include container-style;
    display: flex;
    flex-direction: column;

    .title {
        @include card-title-base;

        & svg {
            @include card-title-icon;
        }

        &__text {
            @include card-title-text;
        }
    }

    &__number {
        @include big-number;

        & > span {
            font-size: var(--font-size-base);
        }
    }

    .graphic {
        width: 80%;
        height: 80%;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
        margin-top: auto;
        position: relative;

        .item-container {
            transform: rotate(60deg);
            width: 100%;
            height: 100%;

            & .item {
                height: var(--compass-item-size);
                width: 0.03rem;
                background-color: rgba(255, 255, 255, 0.466);
                position: absolute;
                top: calc(50% - var(--compass-item-size));
                left: 50%;
                transform: translateY(-50%);
                transform-origin: bottom center;

                @for $i from 0 through 48 {
                    &:nth-child(#{$i + 1}) {
                        $angle: $i * (5deg);
                        transform: rotate($angle)
                            translateY(calc(var(--compass-size) / 2));
                    }
                }
            }
        }

        .pressure-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: var(--font-size-base);
            color: #fff;
            width: min-content;
            text-align: center;
        }

        .arrow-up,
        .arrow-down,
        .presure-trend {
            color: #fff;
            height: var(--font-size-2);
            width: var(--font-size-2);
            position: absolute;
        }

        .arrow-up {
            bottom: 0;
            right: 0;
        }

        .arrow-down {
            bottom: 0;
            left: 0;
        }

        .presure-trend {
            top: calc(var(--compass-item-size));
            left: 50%;
            transform: translateX(-50%);
        }

        .arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: var(--compass-size);
            width: 0.3rem;
            transform-origin: center center;
            transition: all 0.5s ease-in-out;

            &__head {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -25%);
                height: calc(1rem + var(--compass-item-size));
                width: 0.4rem;
                background-color: #fff;
                border-radius: 0.5rem;

                @media (width <= 400px) {
                    width: 0.3rem;
                }
            }
        }
    }
}

.up {
    box-shadow:
    0 0 6px rgba(255,255,255,0.9),
    -8px 0 12px rgba(255,255,255,0.8),
    -16px 0 20px rgba(255,255,255,0.7);
}

.down {
    box-shadow:
    0 0 6px rgba(255,255,255,0.9),
    8px 0 12px rgba(255,255,255,0.8),
    16px 0 20px rgba(255,255,255,0.7);
}
