.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;

    &__input {
        border: 1px solid transparent;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        height: 5rem;
        overflow: hidden;
        border-radius: 3rem;
        padding-left: 1rem;
        font-size: var(--font-size-base);
        background-color: rgba(78, 78, 78, 0.3);
        color: white;

        @media (width <= 540px) {
            max-height: 5rem;
        }

        @media (width <= 400px) {
            font-size: calc(var(--font-size-base) + .2rem);
        }

        &::placeholder {
            font-size: var(--font-size-base);
            color: #fff;
        }
    }

    .result {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        background-color: rgba(78, 78, 78, 0.3);
        border-radius: 3rem;
        padding: 0 0.5rem;

        &__text {
            font-size: var(--font-size-base);
            color: white;
            padding: 1rem 0.5rem;
            border-radius: 10px;

            &:first-child {
                margin-top: 1.5rem;
            }

            &:last-child {
                margin-bottom: 1.5rem;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(117, 117, 117, 0.3);
            }
        }
    }
}
