<div class="container">
    <input
        type="text"
        class="container__input"
        [placeholder]="labels[lang].placeholder"
        [(ngModel)]="input"
        (ngModelChange)="OnQueryChange($event)"
        (keydown.enter)="OnSuggestionClick(suggestionResult[0]?.name)"
    />
    @if(input.length > 0) {
    <div class="result">
        @for (suggestion of suggestionResult; track $index) {
        <p class="result__text" (click)="OnSuggestionClick(suggestion.name)">
            {{ suggestion.name }}, {{ suggestion.country }}
        </p>
        }
    </div>
    }
    <!-- <p class="error-message">{{ errorMessage() }}</p> -->
</div>
