<main>
    @if(resolve)
    {
        <app-header [forecastday]="weatherData?.forecast?.forecastday"/>
        <app-hours-temperature [forecastday]="weatherData?.forecast?.forecastday" />
        <div class="row">
            <div class="two-items">
                <app-week-temperature [forecast]="weatherData?.forecast" />
                <app-moon-hours [astro]="weatherData?.forecast?.forecastday[0]?.astro"/>
            </div>
            <div class="four-items">
                <app-uv [uv]="weatherData?.current?.uv" />
                <app-humidity [humidity]="weatherData?.current?.humidity" />
                <app-sun-hours [astro]="weatherData?.forecast?.forecastday[0]?.astro"/>
                <app-wind [wind_speed]="weatherData?.current?.wind_kph" [wind_direction]="weatherData?.current?.wind_dir" [wind_degree]="weatherData?.current?.windchill_c"/>
            </div>
        </div>
    }
</main>