.background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: all .65s ease-in-out;
}

main
{
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    width: 100%;
    gap: 1rem;
    margin: 2rem auto;
    padding: 0 1rem;
    position: relative;
    z-index: 2;

    @media (width <= 900px)
    {
        max-width: 70rem;
    }

    @media (width <= 620px)
    {
        max-width: 50rem;
    }

    .grid
    {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin: -0.6rem;
        
        @media (width <= 900px)
        {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (width <= 620px)
        {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        & > *
        {
            margin: 0.6rem;
        }

        & > app-hours-temperature
        {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            aspect-ratio: 4.165 / 1;

            @media (width <= 900px)
            {
                aspect-ratio: 3.115 / 1;
            }

            @media (width <= 620px)
            {
                aspect-ratio: 2 / 1;
            }
        }

        & > app-week-temperature
        {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            aspect-ratio: 2.05 / 1;
        }

        & > app-moon-hours
        {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            aspect-ratio: 2.05 / 1;
        }

        & > app-wind
        {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            aspect-ratio: 2.05 / 1;
        }

        & > app-air-quality
        {
            grid-column: 3 / 5;
            grid-row: 3 / 4;
            aspect-ratio: 2.05 / 1;

            @media (width <= 900px)
            {
                grid-column: 2 / 4;
                grid-row: 5 / 6;
            }

            @media (width <= 620px)
            {
                grid-column: 1 / 3;
                grid-row: 7 / 8;
            }
        }

        & > app-humidity,
        app-sun-hours,
        app-uv,
        app-feels-like-temperature,
        app-visibility,
        app-precipitation,
        app-cloud-cover,
        app-pressure
        {
            aspect-ratio: 1 / 1;
        }
    }
}

.day-image
{
    background-image: url('/day.png');
}

.night-image
{
    background-image: url('/night.png');
}
