main
{
    display: flex;
    flex-direction: column;
    width: 94rem;
    gap: .7rem;
    margin: 2rem 0;

    @media (width <= 980px)
    {
        align-content: center;
        width: 70rem;
        margin: 2rem auto;
    }

    @media (width <= 740px)
    {
        width: 60rem;
    }

    @media (width <= 640px)
    {
        width: 50rem;
    }

    @media (width <= 540px)
    {
        width: 45rem;
    }

    @media (width <= 465px)
    {
        width: 40rem;
    }

    @media (width <= 400px)
    {
        width: 36rem;
    }

    .row
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        @media (max-width: 980px)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (width <= 540px)
        {
            grid-template-columns: repeat(1, fit-content);
        }

        @media (width <= 465px)
        {
            grid-template-columns: repeat(1, 40rem);
        }

        & .four-items
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;

            @media (width <= 465px)
            {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            @media (width <= 400px)
            {
                width: 36rem;
            }
        }

        & .two-items
        {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;

            @media (width <= 400px)
            {
                width: 36rem;
            }
        }
    }


    & .col
    {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
}