<main>
    @if (resolve) {
    <app-header
        [forecastday]="weatherData?.forecast?.forecastday[selectedDay]"
        [city]="weatherData?.location?.name"
        (search)="onSearch($event); resolve = false"
    />

    <div class="grid">
        <app-hours-temperature
            [hour]="weatherData?.forecast?.forecastday[selectedDay]?.hour"
            (selectedHour)="onSelectedHour($event)"
            [selectedDay]="selectedDay"
        />

        <app-week-temperature
            [forecast]="weatherData?.forecast"
            (selectDayEvent)="onSelectDay($event)"
        />

        <app-moon-hours
            [astro]="weatherData?.forecast?.forecastday[selectedDay]?.astro"
        />

        <app-pressure
            [pressure]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.pressure_mb ?? weatherData?.current?.pressure_mb
            "
            [prevPressure]="OnprevPressure()"
        />

        <app-humidity
            [humidity]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.humidity ??
                weatherData?.forecast?.forecastday[selectedDay]?.day
                    ?.avghumidity
            "
            [dew_point]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.uv ??
                weatherData?.forecast?.forecastday[selectedDay]?.day?.dewpoint_c
            "
        />

        <app-sun-hours
            [astro]="weatherData?.forecast?.forecastday[selectedDay]?.astro"
        />

        <app-wind
            [wind_speed]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.wind_kph ?? weatherData?.current?.wind_kph
            "
            [wind_direction]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.wind_dir ?? weatherData?.current?.wind_dir
            "
            [wind_degree]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.wind_degree ?? weatherData?.current?.wind_degree
            "
            [wind_chill]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.windchill_c ?? weatherData?.current?.windchill_c
            "
        />

        <app-feels-like-temperature
            [feelsLikeTemperature]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.feelslike_c ?? weatherData?.current?.feelslike_c
            "
            [temp_c]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.temp_c ?? weatherData?.current?.temp_c
            "
        />

        <app-visibility
            [visibility]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.vis_km ?? weatherData?.current?.vis_km
            "
        />

        <app-uv
            [uv]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.uv ??
                weatherData?.forecast?.forecastday[selectedDay]?.day?.uv
            "
        />

        <app-cloud-cover
            [cloudCover]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.cloud ?? weatherData?.current?.cloud
            "
        />

        @if(hourSelected === currentHours()) {
        <app-air-quality
            [airQualityIndex]="
                    weatherData?.current?.air_quality?.['us-epa-index'] ?? 0
                "
        />
        }

        <app-precipitation
            [precipitation]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.precip_mm ??
                weatherData?.forecast?.forecastday[selectedDay]?.day
                    ?.totalprecip_mm
            "
            [precipitationForecast]="OnPrecipitationForecastDay()"
        />

        <app-snow
            [snow]="
                weatherData?.forecast?.forecastday[selectedDay]?.hour[
                    hourSelected
                ]?.snow_cm ??
                weatherData?.forecast?.forecastday[selectedDay]?.day
                    ?.totalsnow_cm
            "
            [snowForecast]="OnSnowForecastDay()"
        />

        <app-maps
            [cords]="cords"
            [selectedHour]="hourSelected"
            [selectedDay]="weatherData?.forecast?.forecastday[selectedDay]?.date"
        />
    </div>
    } @else {
    <app-loading-item></app-loading-item>
    }
</main>
