@use '../../styles/mixin' as *;

.container
{
    @include container-style;

    .title
    {
        width: 100%;
        height: max-content;
        @include card-title-base;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    .moon-info
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        &__text
        {
            font-size: var(--font-size-base);
            color: #fff;
            display: flex;
            justify-content: space-between;

            &:nth-child(2)
            {
                position: relative;

                &::after
                {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    top: -1rem;
                }

                &::before
                {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    bottom: -1rem;
                }
            }
        }
    }
}
