@use '../../styles/mixin' as *;

.container
{
    @include container-style;
    display: flex;
    flex-direction: column;

    .title
    {
        @include card-title-base;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    &__sunset
    {
        font-size: 2.8rem;
        color: #fff;
        margin-top: 1rem;

        @media (width <= 465px)
        {
            font-size: 2.5rem;
        }
    }

    &__sunrise
    {
        font-size: 1.6rem;
        color: #fff;
        margin-top: auto;
    }
}
