.container
{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 22px;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .title
    {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: #fff;

        & svg
        {
            width: 2.8rem;
            height: 2.8rem;
            fill: #fff;
        }

        &__text
        {
            font-size: 2.8rem;
            text-transform: uppercase;
        }
    }

    &__sunset
    {
        font-size: 4rem;
        color: #fff;
    }

    &__sunrise
    {
        font-size: 1.6rem;
        color: #fff;
        
    }
}