/* You can add global styles to this file, and also import other style files */

*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #f5c900, #183182);
}

body
{
    overscroll-behavior: none;
    min-height: calc(100dvh - 2rem);
}