/* You can add global styles to this file, and also use other style files */
@use "./styles/typography" as *;
@import "leaflet/dist/leaflet.css";

:root {
    --primary-color: #262b5b;
    --secondary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #8addff;
}

body {
    min-height: calc(100dvh);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 500px) {
    body:has(app-menu .container.open) {
        overflow: hidden;
    }
}
