.container
{
    max-width: 98rem;
    width: 100%;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    backdrop-filter: blur(10px);
    border-radius: 22px;
    padding: 2rem 1rem;
    overflow: hidden;

    @media (max-width: 540px)
    {
        padding: 1.5rem 1rem;
    }

    @media (max-width: 980px)
    {
        width: 100%;
    }

    .carousel
    {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .hour
    {
        min-width: 9rem;
        display: flex;
        gap: .75rem;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, 0.25);

        @media (width <= 540px)
        {
            min-width: 7rem;
        }

        &:last-child
        {
            border-right: none;
        }

        &__number
        {
            font-size: 2.2rem;
            font-weight: 700;
            color: #fff;

            @media (width <= 540px)
            {
                font-size: 1.7rem;
            }
        }

        &__temp
        {
            font-size: 2rem;
            font-weight: 600;
            color: #fff;

            @media (width <= 540px)
            {
                font-size: 1.7rem;
            }
        }

        img
        {
            width: 5rem;
            height: 5rem;

            @media (width <= 540px)
            {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}