@use '../../styles/mixin' as *;

.container
{
    @include container-style;
    backdrop-filter: blur(10px);
    display: grid;

    .title
    {
        @include card-title-base;
        align-self: start;

        & svg
        {
            @include card-title-icon;
        }

        &__text
        {
            @include card-title-text;
        }
    }

    .carousel
    {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        height: max-content;
        padding: 0 1.5rem;
        align-self: end;
        margin: .75rem 0;

        @media (width <= 980px)
        {
            margin: .375rem 0;
        }

        @media (width <= 400px)
        {
            margin: .375rem 0;
        }

        .hour
        {
            min-width: 10rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 2rem 0;

            @media (width <= 690px)
            {
                padding: 1.1rem 0;
            }

            @media (width <= 620px)
            {
                padding: 2rem 0;
            }

            @media (width <= 440px)
            {
                padding: 1.2rem 0;
            }

            @media (width <= 400px)
            {
                padding: 1rem 0;
            }
    
            @media (width <= 400px)
            {
                min-width: 8.5rem;
            }
    
            &:last-child
            {
                border-right: none;
            }
    
            &__number
            {
                font-size: var(--number-hours-font);
                font-weight: var(--number-hours-weight);
                color: #fff;
            }
    
            &__temp
            {
                font-size: var(--number-hours-font);
                font-weight: var(--number-hours-weight);
                color: #fff;
            }
    
            img
            {
                width: var(--image-size);
                height: var(--image-size);
    
                
            }   
        }
    }
}

.selected-hour
{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    z-index: 9999;
    transition: all 0.15s ease-in-out;
}
