.container
{
    max-width: 98rem;
    width: 100%;
    height: 22.6rem;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    backdrop-filter: blur(10px);
    border-radius: 22px;
    display: grid;

    @media (width <= 980px)
    {
        height: 21.9rem;
    }

    @media (width <= 465px)
    {
        height: 19.4rem;
    }

    @media (width <= 400px)
    {
        height: 17.4rem;
    }

    .title
    {
        display: flex;
        align-items: center;
        align-self: start;
        gap: .5rem;
        color: var(--secondary-color);
        margin-top: 1.5rem;
        margin-left: 1.5rem;

        & svg
        {
            width: 2.4rem;
            height: 2.4rem;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                width: 2.2rem;
                height: 2.2rem;
            }

            @media (width <= 400px)
            {
                width: 2rem;
                height: 2rem;
            }
        }

        &__text
        {
            font-size: 2.4rem;
            text-transform: uppercase;

            // @media (width <= 540px)
            // {
            //     font-size: 2.4rem;
            // }

            @media (width <= 465px)
            {
                font-size: 2rem;
            }

            @media (width <= 400px)
            {
                font-size: 1.8rem;
            }
        }
    }

    .carousel
    {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        height: max-content;
        padding: 0 1.5rem;
        align-self: end;
        margin-bottom: 1.5rem;

        @media (width <= 980px)
        {
            margin-bottom: 1rem;
        }

        @media (width <= 400px)
        {
            margin-bottom: .75rem;
        }

        .hour
        {
            min-width: 10rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 2rem 0;

            @media (width <= 480px)
            {
                padding: 1.5rem 0;
            }

            @media (width <= 400px)
            {
                padding: 1rem 0;
            }
    
            @for $i from 1 through 24
            {
                @if($i % 2 == 0)
                {
                    &:nth-child(#{$i})
                    {
    
                        @if($i != 24)
                        {
                            &::after
                            {
                                content: '';
                                width: 1px;
                                height: 75%;
                                background-color: #868686;
                                position: absolute;
                                right: 0;
                                z-index: -1;
                            }
                        }
    
                        &::before
                        {
                            content: '';
                            width: 1px;
                            height: 75%;
                            background-color: #868686;
                            position: absolute;
                            left: 0;
                            z-index: -1;
                        }
                    }
                }
            }
    
            @media (width <= 540px)
            {
                min-width: 8.5rem;
            }
    
            &:last-child
            {
                border-right: none;
            }
    
            &__number
            {
                font-size: 2rem;
                font-weight: 700;
                color: #fff;
    
                @media (width <= 400px)
                {
                    font-size: 1.7rem;
                }
            }
    
            &__temp
            {
                font-size: 2rem;
                font-weight: 600;
                color: #fff;
    
                @media (width <= 400px)
                {
                    font-size: 1.7rem;
                }
            }
    
            img
            {
                width: 5rem;
                height: 5rem;
    
                @media (width <= 540px)
                {
                    width: 4rem;
                    height: 4rem;
                }
            }   
        }
    }
}

.selected-hour
{
    outline: 2px solid #fff;
    outline-offset: -2px;
    border-radius: 22px;
    z-index: 9999;
}
