.container
{
    max-width: 98rem;
    width: 100%;
    height: 19rem;
    background-color: rgba(78, 78, 78, 0.3);
    border: 1px solid #868686;
    backdrop-filter: blur(10px);
    border-radius: 22px;
    overflow: hidden;

    @media (max-width: 540px)
    {
        padding: 1.5rem 1rem;
    }

    @media (max-width: 980px)
    {
        width: 100%;
    }

    .carousel
    {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: none;
        height: 100%;
        padding: 0 1rem;
    }

    .hour
    {
        min-width: 10rem;
        height: 80%;
        display: flex;
        justify-content: center;
        gap: .75rem;
        flex-direction: column;
        align-items: center;
        position: relative;

        @for $i from 1 through 24
        {
            @if($i % 2 == 0)
            {
                &:nth-child(#{$i})
                {

                    @if($i != 24)
                    {
                        &::after
                        {
                            content: '';
                            width: 1px;
                            height: 75%;
                            background-color: #868686;
                            position: absolute;
                            right: 0;
                            z-index: -1;
                        }
                    }

                    &::before
                    {
                        content: '';
                        width: 1px;
                        height: 75%;
                        background-color: #868686;
                        position: absolute;
                        left: 0;
                        z-index: -1;
                    }
                }
            }

        }

        

        @media (width <= 540px)
        {
            min-width: 7rem;
        }

        &:last-child
        {
            border-right: none;
        }

        &__number
        {
            font-size: 2.2rem;
            font-weight: 700;
            color: #fff;

            @media (width <= 540px)
            {
                font-size: 1.7rem;
            }
        }

        &__temp
        {
            font-size: 2rem;
            font-weight: 600;
            color: #fff;

            @media (width <= 540px)
            {
                font-size: 1.7rem;
            }
        }

        img
        {
            width: 5rem;
            height: 5rem;

            @media (width <= 540px)
            {
                width: 4rem;
                height: 4rem;
            }
        }   
    }
}

.selected-hour
{
    outline: 2px solid #fff;
    outline-offset: -1px;
    border-radius: 22px;
    z-index: 9999;
}