<div class="container">
    <div class="loader">
        <div class="sun">
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
            <div class="sun__beam"></div>
        </div>
        <div class="cloud">
            <div class="cloud__base"></div>
            <div class="cloud__L-circle"></div>
            <div class="cloud__R-circle"></div>
            <div class="cloud__T-circle"></div>
        </div>
    </div>
    <div class="title">
        @for(letter of loading_text; track $index)
        {
            <span>{{letter}}</span>
        }
    </div>
</div>