.container
{
    width: 35rem;
    height: 35rem;
    justify-self: center;
    position: relative;

    @media (width <= 400px)
    {
        transform: scale(.7);
    }

    & .sun
    {
        width: 15rem;
        height: 15rem;
        background-color: yellow;
        border-radius: 50%;
        position: relative;
        top: 3rem;
        right: 0;
        position: absolute;
        right: 3;
        animation: rotateBeam 10s infinite linear;

        &__beam
        {
            position: absolute;
            background-color: orange;
            width: .5rem;
            height: 5rem;
            border-radius: 2.5rem;
            display: flex;

            &:nth-child(1)
            {
                top: -6rem;
                left: 7.5rem;
            }

            &:nth-child(2)
            {
                top: 2rem;
                right: -1rem;
                transform: rotate(90deg);
                transform-origin: bottom;
            }

            &:nth-child(3)
            {
                top: -4.5rem;
                right: 1rem;
                transform: rotate(45deg);
                transform-origin: bottom;
            }

            &:nth-child(4)
            {
                top: -4.5rem;
                left: 1rem;
                transform: rotate(-45deg);
                transform-origin: bottom;
            }

            &:nth-child(5)
            {
                right: -1.5rem;
                bottom: -1.5rem;
                transform: rotate(-45deg);
            }

            &:nth-child(6)
            {
                top: -4rem;
                left: 3.5rem;
                transform: rotate(-22.5deg);
                height: 3rem;
                
            }

            &:nth-child(7)
            {
                top: -4rem;
                right: 3rem;
                transform: rotate(22.5deg);
                height: 3rem;
            }

            &:nth-child(8)
            {
                top: 1rem;
                right: -2.5rem;
                transform: rotate(65deg);
                height: 3rem;
            }

            &:nth-child(9)
            {
                bottom: 3rem;
                right: -2.5rem;
                transform: rotate(-65deg);
                height: 3rem;
            }

            &:nth-child(10)
            {
                top: 2rem;
                left: -1rem;
                transform: rotate(-90deg);
                transform-origin: bottom;
            }

            &:nth-child(11)
            {
                bottom: -6rem;
                left: 7.5rem;
            }

            &:nth-child(12)
            {
                bottom: -2.5rem;
                left: -3.5rem;
                transform: rotate(45deg);
                transform-origin: bottom;
            }

            &:nth-child(13)
            {
                bottom: -3.5rem;
                right: 2.5rem;
                transform: rotate(-22.5deg);
                height: 3rem;
            }

            &:nth-child(14)
            {
                bottom: -4rem;
                left: 3rem;
                transform: rotate(22.5deg);
                height: 3rem;
            }

            &:nth-child(15)
            {
                bottom: 2rem;
                left: -2.5rem;
                transform: rotate(65deg);
                height: 3rem;
            }

            &:nth-child(16)
            {
                top: 1rem;
                left: -2.5rem;
                transform: rotate(-65deg);
                height: 3rem;
            }

        }
    }

    & .cloud
    {
        position: relative;
        z-index: 5;

        & svg
        {
            width: 100%;
            height: 100%;
            color: white;
        }
    }
}

@keyframes rotateBeam
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}
