.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;

    & .loader
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35rem;
        height: 30rem;
        position: relative;

        & .sun
        {
            width: 15rem;
            height: 15rem;
            background: radial-gradient(circle at 30% 30%, #fffad0, #ffeb3b 40%, #fbc02d 100%);
            border-radius: 50%;
            position: relative;
            top: 3rem;
            right: 0;
            position: absolute;
            right: 3;
            animation: rotateBeam 15s infinite linear;
    
            &__beam
            {
                position: absolute;
                top: calc(50% - 5rem);
                left: 50%;
                background-color: orange;
                width: .4rem;
                height: 5rem;
                border-radius: 2.5rem;
                display: flex;
                transform-origin: 50% 100%;

                @for $i from 1 through 16 
                {
                    &:nth-child(#{$i}) 
                    {
                        $angle: ($i - 1) * calc(360deg / 16);
                        transform: rotate($angle) translateY(-8.2rem);

                        @if($i % 2 == 0)
                        {
                            height: 3.5rem;
                            background-color: #ff9800;
                            top: calc(50% - 3.5rem);
                        }
                    }
                }
            }
        }
    
        & .cloud
        {
            position: absolute;
            bottom: 0rem;
            z-index: 5;
            width: 100%;
            height: fit-content;
            animation: cloudMove 5s ease-in-out infinite;

            &::after
            {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20rem;
                height: 16rem;
                background-color: white;
                z-index: 10;
            }
    
            &__base
            {
                position: absolute;
                left: 50%;
                bottom: 0rem;
                transform: translateX(-50%);
                width: 20rem;
                height: 16rem;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.486);
            }

            &__L-circle
            {
                position: absolute;
                left: -2rem;
                bottom: 0rem;
                width: 18rem;
                height: 18rem;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.486);
            }

            &__R-circle
            {
                position: absolute;
                right: -1rem;
                bottom: 0rem;        
                width: 16rem;
                height: 16rem;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.486);
            }

            &__T-circle
            {
                position: absolute;
                left: 9rem;
                bottom: 5rem;       
                width: 19rem;
                height: 19rem;
                background-color: white;
                border-radius: 50%;
            }
        }

        @media (width <= 400px)
        {
            transform: scale(.65);
        }
    }

    & .title
    {
        font-size: 4rem;
        color: var(--secondary-color);
        display: flex;
        gap: .2rem;
        font-weight: bold;

        @media (width <= 400px)
        {
            font-size: 3rem;
        }

        & span
        {
            animation: letterBounce 4.5s ease-in-out infinite 4s;

            &:nth-child(7)
            {
                margin-right: 1.2rem;
            }

            &:nth-child(9)
            {
                margin-right: 1.2rem;
            }

            @for $i from 0 through 17
            {
                &:nth-child(#{$i})
                {
                    animation-delay: #{0.1s * $i};
                }
            }
        }
    }
}

@keyframes cloudMove
{
    0%{ transform:  translateY(0);}
    50%{ transform: translateY(-1.5rem); }
    100%{ transform: translateY(0); }

}

@keyframes rotateBeam
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes letterBounce
{
    0%{ transform: translateY(0);}
    5%{ transform: translateY(-20%) scale(1.2); }
    10%{ transform: translateY(0); }
    100%{ transform: translateY(0); }
}
